*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
eval
*.npz
**/tmp

./tran-d_seg/checkpoints/tran-d_seg_ckpt.pth
./tran-d_seg/checkpoints/sam2.1_hiera_large.pt